<a href="https://colab.research.google.com/github/eduviana1/TEEP_Chuva_Horaria/blob/main/3_Ajustando_AlertaRio_Para_UTC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tarfile
import os
import glob
import re
from pathlib import Path
import datetime as dt
from IPython.display import clear_output # limpar a barra de progresso

Mounted at /content/drive

In [ ]:
# Caminho para os arquivos .tar
caminho_tar = 'c:/users/edu16/Documents/TEEP Grupo 4/Dados CMORPH'

# Pasta onde os arquivos serão extraídos
diretorio_destino = f'c:/users/edu16/Documents/TEEP Grupo 4/CMORPH extraido'

# Garante que o diretório de destino existe
os.makedirs(diretorio_destino, exist_ok=True)
# listando arquivos tar
arquivos_tar =  glob.glob('c:/users/edu16/Documents/TEEP Grupo 4/Dados CMORPH/*.tar')

data_parada = dt.datetime.strptime('20131202', '%Y%m%d')
# Abre e extrai o conteúdo
for arquivo in arquivos_tar:
    arquivo = arquivo.replace('\\', '/')
    # Transforma data de arquivo em datetime
    data_arquivo = dt.datetime.strptime(os.path.basename(arquivo).removesuffix('.tar'), '%Y_%m_%d')
    # Só baixa os arquivos que são de datas posteriores ao arquivo em que o código parou
    if data_arquivo >= data_parada:
        with tarfile.open(arquivo, 'r') as tar_ref:
            tar_ref.extractall(diretorio_destino)
        clear_output(wait = True) #Limpa o print anterior
        print(f"arquivo:'{arquivo}' extraido com sucesso!")

,DataHora,alto_da_boa_vista,anchieta,av_brasil_mendanha,bangu,barrinha,campo_grande,cidade_de_deus,copacabana,grajau,...,santa_teresa,sao_cristovao,saude,sepetiba,tanque,tijuca,tijuca_muda,urca,vidigal,Hora
0,1997-01-01 01:00:00,NaN,0.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1
1,1997-01-01 02:00:00,NaN,0.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,2
2,1997-01-01 03:00:00,NaN,0.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,3
3,1997-01-01 04:00:00,NaN,0.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,4
4,1997-01-01 05:00:00,NaN,0.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,5

In [ ]:
df_estacoes.drop(columns=['Hora'], inplace=True)

In [ ]:
df_estacoes['DataHora'] = pd.to_datetime(df_estacoes['DataHora'], format = '%Y-%m-%d %H:%M:%S')

In [ ]:
df_estacoes['DataHora'] = df_estacoes['DataHora'].apply(lambda data: data + dt.timedelta(hours=3))

In [ ]:
display(df_estacoes['DataHora'].head(), df_estacoes['DataHora'].tail())

0   1997-01-01 04:00:00
1   1997-01-01 05:00:00
2   1997-01-01 06:00:00
3   1997-01-01 07:00:00
4   1997-01-01 08:00:00
Name: DataHora, dtype: datetime64[ns]

245442   2024-12-31 22:00:00
245443   2024-12-31 23:00:00
245444   2025-01-01 00:00:00
245445   2025-01-01 01:00:00
245446   2025-01-01 02:00:00
Name: DataHora, dtype: datetime64[ns]

In [ ]:
df_estacoes.to_csv('/content/drive/MyDrive/Grupo 4 - TEEP/Trabalho Prático - Parte II/UTC_chuva_horaria_alertario.csv', index=False)